*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
.yoo{
    display: flex;
    flex-direction: row;
    padding-left: 150px;
    font-size: 20px;
    padding-top: 6px;
    padding-bottom: 10px;
   
}
.one{
    color: #27346A;
}
.yoo .two{
    color: #2790C3;
 
}
.para{
    padding-left: 360px;
    padding-top: 25px;
    font-size: 15px;
    font-weight: bolder;
  
}
.but{
    padding-left: 420px;
    padding-top: 20px;
}
.but button{
    
    border:1px solid #0070BA;
    background-color: white;
    width: 70px;
    height: 39px;
    border-radius: 17px;
}
.but2{
    padding-top: 20px;
    padding-left: 8px;
}
.but2 button{
    background-color: #0070BA;
    width: 70px;
    height: 39px;
    border-radius: 17px;
    color: white;
    border: 0px;
}
.img{
background-image: url(paypal3.jpg);
    width: 1345px;
    height: 600px;
background-size: cover;
}
.star{
    padding-top: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
}
.star h1{
padding-left: 380px;
}
.star p{
    padding-left: 100px;
}
.text{
    font-style: oblique;
}
@media screen and (max-width: 420px){
    .img{
        width: 348px;
        height: 350px;
        background-size: contain;

    }
    .yoo h1{
        font-size: 20px;
        padding-top: 30px;
    }
    .yoo p{
        font-size:15px;
    }
    .yoo{
        padding-left: 10px;
        display: flex;
        justify-content: center;
    }
    
}

    
